# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env
*.env

# Archivos de configuración local
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.bak

# Archivos de compilación
*.egg-info/
build/
dist/